[submodule "composable-rss-api"]
	path = composable-rss-api
	url = https://github.com/lostsidewalk/composable-rss-api.git
[submodule "newsgears-rss"]
	path = newsgears-rss
	url = https://github.com/lostsidewalk/newsgears-rss.git
[submodule "composable-rss-client"]
	path = composable-rss-client
	url = https://github.com/lostsidewalk/composable-rss-client.git
[submodule "composable-rss-engine"]
	path = composable-rss-engine
	url = https://github.com/lostsidewalk/composable-rss-engine.git
